.FootBar {
    font-family: NunitoSans;
    width: 100%;
    background-color: brown;
    padding: 10px;
    display: grid;
    grid-template-areas: 'name . . . .' '. home about services .' '. . . . powered';
}

.foot-link, .companyName, .poweredBy {
    color: #dfd572;
}

.companyName {
    grid-area: name;
}

#home {
    grid-area: home;
}

#about {
    grid-area: about;
}

#services {
    grid-area: services;
}

.poweredBy {
    grid-area: powered;
}